/****** Lisp to JS Compiler Devel ******/

* {margin: 0; padding: 0; border: 0 none; font-family: "Courier New", "DejaVu Sans Mono", monospace;}

table {width: 100%; height: 100%; border-collapse: collapse;}
td {vertical-align: top; height: 100%;}

#pg {position: fixed; top: 0; right: 0; bottom: 0; left: 0;}

#left, #right {width: 50%; border: 1px solid #000;}
#head {border-bottom: 1px solid #000;}

#head {height: 35px; line-height: 33px;}
#logo {float: left; font-family: Verdana, sans-serif; font-size: 20px; font-weight: bold; padding-left: 5px;}
#buts {float: right;}
input {display: block; float: left; height: 35px; padding: 0 5px; font-size: 20px; font-weight: bold; background-color: #F1EFEB; border-left: 1px solid #000;}
input:hover {background-color: #E6E3DE;}

#srcd {padding: 5px;}
textarea {width: 100%; height: 100%; font-size: 13px; resize: none;}

#right {padding: 5px;}
#res {height: 100%; font-size: 13px;}



/*#head {position: fixed; top: 0; left: 0; height: 35px; width: 200px; line-height: 35px; border: 1px solid #000;}
#logo {font-size: 22px; font-weight: bold; padding-left: 5px;}

#srcd {position: fixed; top: 36px; left: 0; bottom: 0; width: 200px; }
#srcb {border: 1px solid #000; padding: 5px;}
#src {width: 100%; height: 100%;}

#resd {position: fixed; top: 0; left: 200px; right: 0; bottom: 0; border: 1px solid #000;}
#res {width: 100%; height: 100%; padding: 5px;}*/
